<?php
// tipado fuerte
declare(strict_types=1);

// herramientas dev

/* remover también de htaccess para no ver reporte de errores:
  php_flag display_startup_errors
  php_flag display_errors */

error_reporting(E_ALL); /*remover para no ver reporte de errores*/

include 'devtools.php'; /*opcional*/

// constantes primarias
define('PROYECTO', 'nombre_directorio');
define('APP_ROOT', dirname(dirname(__FILE__)));
define('COREAPP', APP_ROOT . DIRECTORY_SEPARATOR . 'Core' . DIRECTORY_SEPARATOR . 'App' . DIRECTORY_SEPARATOR);
define('APP_SUBFOLDER', 'prod/' . PROYECTO); /* Importante: sustrae este Path del URI al momento de Request */
define('APP_PUBLIC', APP_ROOT . DIRECTORY_SEPARATOR . 'Public' . DIRECTORY_SEPARATOR);
define('URL_SUB', "http://localhost/produccion/" . PROYECTO . '/');
define('URL_BASE', "http://localhost/" . APP_SUBFOLDER . '/');
define('URL_PUBLIC', URL_BASE . 'Public/');

// constantes secundarias
define('SITE_NAME', 'Proyecto ESI Honduras');
define('VERSION', 'v1.00');

// constantes HTTP
const ITEMS = [
    'REDIRECT_STATUS',
    'REQUEST_METHOD',
    'DOCUMENT_ROOT',
    'REQUEST_URI',
    'QUERY_STRING'
];
$serverRequest = new class () {
    public $returns;
    public function fetchHTTPRequest(array $items) {
        foreach ($items as $k => $v) {
            $this->returns[$v] = filter_input(INPUT_SERVER, $v, FILTER_SANITIZE_FULL_SPECIAL_CHARS);
        }
        return $this->returns;
    }
};
// include Autoload local, y de Composer en caso de haberlo
require_once 'autoload.php';
require_once APP_PUBLIC . 'vendor' . DIRECTORY_SEPARATOR . 'autoload.php';

// Router
require_once 'routes.php';

// prepara App
$app = new App($serverRequest->fetchHTTPRequest(ITEMS), $routeList->fetchRoutes());
