@use "variables" as vars;

.back-head{
    background-color: grey;
    display: flex;
    justify-content: end;
    align-items: center;
}

.elementos-head {
    display: flex;
    padding: 0 1.5rem;
}

.elementos-head p{
   font-weight: 200;
   font-size: 0.8rem;
   padding-right: 0.5rem;
}

.elementos-head a{
   font-size: 0.8rem;
   padding: 0 0.3rem;
   color: vars.$g800; 
}

.elementos-head a:hover{
   font-size: 0.8rem;
   padding: 0 0.3rem;
   color: vars.$g; 
}

.elementos-head p{
   font-weight: 200;
   font-size: 0.8rem;
   padding-right: 0.5rem;
}

.back-menu {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-menu ul li{
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0 0.3rem;
    color: vars.$g;
}

.back-menu a{
    background-color: beige;
     padding: 0.6rem 1rem;
     border-radius: 40px;
     

}

.back-menu a:hover{
    background-color: vars.$g;
    color: vars.$g0;
    padding: 0.6rem 1rem;
    border-radius: 40px;
    
}