@use "variables" as vars;

.back-head{
    background-color: grey;
    display: flex;
    justify-content: end;
    align-items: center;
}

.elementos-head {
    display: flex;
    padding: 0 1.5rem;
}

.elementos-head p{
   font-weight: 200;
   font-size: 0.8rem;
   padding-right: 0.5rem;
}

.elementos-head a{
   font-size: 0.8rem;
   padding: 0 0.3rem;
   color: vars.$g800; 
}

.elementos-head a:hover{
   font-size: 0.8rem;
   padding: 0 0.3rem;
   color: vars.$g; 
}

.elementos-head p{
   font-weight: 200;
   font-size: 0.8rem;
   padding-right: 0.5rem;
}

.back-menu {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}