@use "variables" as vars;

.back-head{
    background-color: grey;
    display: flex;
    justify-content: end;
    align-items: center;
}

.elementos-head {
    display: flex;
    padding: 0rem 1.5rem;
}

.elementos-head p{
   font-weight: 200;
   font-size: 0.8rem;
   padding-right: 0.5rem;
}

.elementos-head a{
   font-size: 0.8rem;
   padding: 0rem 0.3rem;
   color: vars.$g800; 
}

.elementos-head a:hover{
   font-size: 0.8rem;
   padding: 0rem 0.3rem;
   color: vars.$g; 
}

.elementos-head p{
   font-weight: 200;
   font-size: 0.8rem;
   padding-right: 0.5rem;
}

.back-menu {
    background-color:vars.$g300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-menu ul li{
    font-weight: 600;
    font-size: 0.8rem;
    color: #000;
}

.back-menu a{
    background-color: transparent;
     padding: 0.6rem 0.8rem;
     border-radius: 40px;
     color: vars.$g;

}

.back-menu a:hover{
    background-color: vars.$g700;
    color: vars.$g0;
    padding: 0.6rem 0.8rem;
    border-radius: 40px;
    
}

/////////////////////Menú móvil/////////////

.back-menu-movil {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-menu-movil ul li{
    font-weight: 600;
    font-size: 0.8rem;
    margin: 1.5rem 0rem 1.5rem 1.5rem;
    color: vars.$g;
}

.back-menu-movil a {
    background-color: transparent;
     padding:0.6rem 1rem;
     border-radius: 40px;
     color: #000;
}

.back-menu-movil a:hover{
    background-color: vars.$g700;
    color: vars.$g0;
    padding: 0.6rem 1rem;
    border-radius: 40px;
    
}

.btn-130 a {
     background-color: vars.$g;
     padding:0.6rem 0.8rem;
     border-radius: 40px;
     color: #fff;
}

.btn-130 a:hover{
    background-color: vars.$g700;
    color: vars.$g0;
    padding: 0.6rem 0.8rem;
    border-radius: 40px;
    
}

#toggle-menu {
    cursor: pointer;
    color: vars.$g;
    position: absolute;
    left: 10px;
    font-size: 2rem;
}

#toggle-menu:hover {
    color: vars.$g0;
}

.logo-menu {
width: 100px;

}

.logo-menu img {
  max-width: 100%;
  height: auto;
}

.logo-menu-movil {
    width: 100px;
    margin:0.5rem 0 0.3rem 0.5rem;

}

.logo-menu-movil img {
  max-width: 100%;
  height: auto;
}

////// dropdown escritorio ////////

.dropbtn {
  color: white;
  font-size: 0.8rem;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: vars.$g300;
  min-width: 160px;
  margin-top: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 0 !important;
  display: block;
}

.dropdown-content a:hover {background-color: #ccc; border-radius: 0 !important;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:vars.$g; color: #fff;}


.sub-menu-movil{
    flex-direction: column;
}

.sub-menu-movil li{
    margin: 1rem 0rem 0.3rem 1rem !important;
}

.sub-menu-movil a{
    padding: 1rem 0rem 0rem 0rem;
    border-radius: 0 !important;
    color: #000;
    font-weight: 400;
     margin: 0rem 0rem 0.3rem 1rem;
}

.sub-menu-movil a:hover{
    padding: 0rem 0rem 0rem 0rem;
    background-color: transparent;
    border-radius: 0 !important;
    color: grey;
    font-weight: 400;
   
}