@use "variables" as vars;

.contenedor-publica {
      display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.cabecera-entrada{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;
}

.btn-back{
    display: flex;
}

.btn-back a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 0.8rem;
    background-color:vars.$primario;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-back a:hover{
    color: vars.$primario;
    background-color:vars.$secundario;
}

.btn-back a i{
    padding: 0 0.4rem 0 0;
}

.bloque-entrada{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;
}

.cabecera-dos-publica {
    color: #25282a;
    font-size: clamp(1.5rem, 1.3103rem + 3.4483vw, 2.2rem);
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 0;
}

.img-entrada {
    width: 100%;
    height: 520px;
    display: flex;
}

.img-entrada img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nombre-publicado {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    width: 100%;
    height: auto;
}

.nombre-publicado p {
    font-size: 0.7rem;
    font-weight: 600;
}
