@use "variables" as vars;
.contenedor-faq{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.btn-enlace{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-enlace a{
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:transparent;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-enlace a:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}

.cabecera-dos{
    color: vars.$dark;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 2.8rem);
    font-weight: 600;
    line-height: 1.1;
}

.bloque-intro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    margin: 0 auto;
}

.intro-faq{
    width: 100%;
    max-width: 820px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem 0;
}

.intro-bloques{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem 0;
}


.img-intro{
    width: 100%;
    height: 420px;
    margin: 0 auto;
}

.img-intro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bloque-uno{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    margin: 0 auto;
}

.bloque-fr2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    margin: 0 auto;

}

.img-fr2 {
    width: 100%;
    height: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fr2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.txt-intro-fr2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 1rem;
}

.uno-intro-fr2{
    color: vars.$g700;
    margin: 0;
    font-size: clamp(2rem, 0.2759rem + 8.6207vw, 5.125rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    max-width: 100%;
}

.dos-intro-fr2{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}

///// acordeon////////////

.lista-faq{
    padding: 1rem 0;

}

.accordion {
  background-color: vars.$secundario;
  color: vars.$dark;
  cursor: pointer;
  padding: 18px;
  margin: 9px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1rem;
  font-family: "Onest", sans-serif;
  font-weight: 500;
  transition: 0.4s;
   border: 1px solid vars.$primario;
 
}

.active, .accordion:hover {
  background-color:vars.$primario;
  color:vars.$g0;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color:  vars.$primario50;
  overflow: hidden;
}

.panel p{
  padding: 1rem;
  font-size: 1rem;
  font-family: "Onest", sans-serif;
  font-weight: 400;
 
}