@use "variables" as vars;
.contenedor-faq{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url('../recursos/imagenes/fondo.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}