@use "variables" as vars;

.logos-footer{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.ul-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;

}

.ul-logos li {
   margin: 0rem 0.3rem;
   width: auto;
   height: 90px;
   flex: initial;
}

.ul-logos li img{
    width: auto;
    height: 70%;
    object-fit: contain;
    object-position: center;
}


.info-footer {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
    flex-direction: column;
}
 
.uno-info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
}

.uno-info-footer  p{
   font-size: 0.8rem;
   font-weight: 600;
}

.dos-info-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.dos-info-footer  p{
   font-size: 0.8rem;
   font-weight: 600;
}


.redes-footer {
    display: flex;
    padding: 1rem 1.5rem;
}

.redes-footer a{
   font-size: 0.9rem;
   padding: 0 0.3rem;
   color: vars.$dark; 
}

.redes-footer a:hover{
   padding: 0 0.3rem;
   color: vars.$primario; 
}

.tres-info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid-mapa-sitio {
    display: flex;
    flex-direction: column;
}

.mapa-sitio-footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.mapa-sitio-footer p {
    font-size: 0.8rem;
    font-weight: 600;
}

.mapa-sitio-footer ul{
    display: flex;
}

.mapa-sitio-footer li{
    display: flex;
    font-weight: 600;
    font-size: 0.6rem;
    color: vars.$dark;
   
}

.mapa-sitio-footer a{
     padding: 0.6rem 0.6rem 0.6rem 0rem;
     color: vars.$dark;
}

.mapa-sitio-footer a:hover{
    color: vars.$primario;
}

.sub-menu-footer{
    flex-direction: column;
}

.sub-menu-footer a{
    padding: 0rem 0rem 0.3rem 0rem;
    color: vars.$dark;
    font-weight: 400;
}

.btn-login{
    display: flex;
    margin: 0.5rem 0 0 0;
}

.btn-login a{
    font-weight: 600;
    color:vars.$com-dos;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color:transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: vars.$com-dos;
    padding: 0.1rem 0.1rem;
   
}

.btn-login a:hover{
    color:vars.$com-dos800;
    border-color:vars.$com-dos800;
    background-color:transparent;
}

.btn-login a i{
    margin: 0 0 0 0.3rem;
}