@use "variables" as vars;

.logos-footer{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.ul-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.ul-logos li {
   margin: 0rem 1rem;
   width: 100px;
}

.ul-logos li img{
  width: 100%;
  height: auto;
}

.info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
}
 
.uno-info-footer {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
}

.uno-info-footer  p{
   font-size: 0.8rem;
   font-weight: 600;
}

.dos-info-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.dos-info-footer  p{
   font-size: 0.8rem;
   font-weight: 600;
}


.redes-footer {
    display: flex;
    padding: 1rem 1.5rem;
}

.redes-footer a{
   font-size: 0.9rem;
   padding: 0 0.3rem;
   color: vars.$g800; 
}

.redes-footer a:hover{
   padding: 0 0.3rem;
   color: vars.$g; 
}

.tres-info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid-mapa-sitio {
    display: flex;
    flex-direction: column;
}

.mapa-sitio-footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.mapa-sitio-footer p {
    font-size: 0.8rem;
    font-weight: 600;
}

.mapa-sitio-footer ul{
    display: flex;
}

.mapa-sitio-footer li{
    display: flex;
    font-weight: 600;
    font-size: 0.6rem;
    color: #000;
}

.mapa-sitio-footer a{
     padding: 0.6rem 0.6rem 0.6rem 0rem;
     color: vars.$g;
}

.mapa-sitio-footer a:hover{
    color: vars.$g0;
}