@use "variables" as vars;

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
#head {
    width: 100%;
    min-height: 2rem;
}
#menu-large {
    width: 100%;
    min-height: 80px;
}

#menu-large ul li {
    display: inline;
}
#menu-movil {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
}
.menu-area{
    overflow-y: auto;
    height: 80vh;
}
.slide-in {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.slide-out {
    transform: translateX(100vw);
    transition: transform 0.3s ease-in-out;
}
#main {
    width: 100%;
    height: 100%;
    flex-grow: 1;

}
#footer {
    width: 100%;
    height: 100%;
    background-color: vars.$g300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}