@use "variables" as vars;

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
#head {
    width: 100%;
    min-height: 2rem;
}
#menu-large {
    width: 100%;
    min-height: 80px;
}

#menu-large ul li {
    display: inline;
}
#menu-movil {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
}
.menu-area{
    overflow-y: auto;
    height: 80vh;
}
.slide-in {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.slide-out {
    transform: translateX(100vw);
    transition: transform 0.3s ease-in-out;
}
#main {
    width: 100%;
    height: 1500px;
    flex-grow: 1;

}
#footer {
    width: 100%;
    height: 100%;
    background-color: vars.$g300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


///////////// estilos home ////////



.contenedor-home{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.perfiles-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}

.item-perfiles-home{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0rem 2rem;
}

.imagen-perfil {
    width: 380px;
   
}

.imagen-perfil img{
    width: 100%;
    height: auto;
     border-radius: 20px;
}

.info-item-perfiles {
    display: flex;
    flex-direction: column;
}