@use "variables" as vars;

body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
#head {
    width: 100%;
    min-height: 2rem;
}
#menu-large {
    width: 100%;
    min-height: 80px;
}

#menu-large ul li {
    display: inline;
}
#menu-movil {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index:500
}
#breadcrumbs {
    display: none;
}
#cerrar-menu-movil{
cursor: pointer;
}
.menu-area{
    overflow-y: auto;
    height: 80vh;
}
.slide-in {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.slide-out {
    transform: translateX(100vw);
    transition: transform 0.3s ease-in-out;
}
#main {
    width: 100%;
    height: 100%;
    flex-grow: 1;

}
#footer {
    width: 100%;
    height: 100%;
    background-color: vars.$secundario;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecera-uno{
    color: vars.$primario;
    margin: 0;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 3.25rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1;
}

.cabecera-dos{
    color: vars.$com;
    margin: 0;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 3.25rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1.2;
   
}

.cuerpo-texto {
    font-weight: 400;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
}


.p-bottom{
    padding:0 0 1rem 0;
}

.p-vertical{
    padding: 1rem 0;
}

.p-horizontal{
    padding: 0 1rem;
}

.p-top{
    padding-bottom:1rem 0 0 0;
}