@use "variables" as vars;

///////////// estilos home ////////

.contenedor-home{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.txt-bienvenida {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

.txt-bienvenida h1{
    color: vars.$g700;
    margin: 0;
}

.txt-bienvenida p{
    font-size: 2rem;
    font-weight: 600;
    margin-top: -1.5rem;
}

.perfiles-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
    flex-direction: column;
}

.item-perfiles-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0rem 2.5rem;
}

.imagen-perfil {
    width: 100%;
}

.imagen-perfil img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.info-item-perfiles {
    display: flex;
    flex-direction: column;
}

.btn-perfiles{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-perfiles a{
    color: #fff;
    background-color:vars.$g600;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
}

.btn-perfiles a:hover{
    color: #fff;
    background-color:vars.$g;
}