@use "variables" as vars;

///////////// estilos home ////////

.contenedor-home{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.txt-bienvenida {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

.bienvenida-uno{
    color: vars.$g700;
    margin: 0;
    font-size: clamp(2rem, 0.2759rem + 8.6207vw, 5.125rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
}

.bienvenida-dos{
    font-size: 2rem;
    font-weight: 600;
    margin-top: -1rem;
    font-size: clamp(1.5rem, 0.9483rem + 2.7586vw, 2.5rem);
}

.perfiles-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem 0rem 2rem 0rem;
    flex-direction: column;
}

.item-perfiles-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 2.5rem;
}

.imagen-perfil {
    width: 100%;
}

.imagen-perfil img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.info-item-perfiles {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 0rem 0rem;
}

.titulo-item{
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.8362rem + 2.069vw, 2rem);
}

.btn-perfiles{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-perfiles a{
     font-weight: 600;
    color: #fff;
    font-size: 0.8rem;
    background-color:vars.$g600;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-perfiles a:hover{
    color: #fff;
    background-color:vars.$g;
}


//////// bloque dos////////////////

.bloque-dos-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5rem 1rem;
}

.grid-bloque-dos-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width: 100%;
    height: auto;
}

.txt-bloque-dos-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
}

.info-bloque-dos-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 2rem;

}

.bloque-dos-home-uno{
    color: vars.$g700;
    margin: 0;
    font-size: clamp(1.5rem, 0.6724rem + 4.1379vw, 3rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1;
}

.bloque-dos-home-dos{
    font-size: 2rem;
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
}

.img-bloque-dos-home{
    width: 100%;
}

.img-bloque-dos-home img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.btn-enlace{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-enlace a{
    font-weight: 600;
    color:vars.$g500;
    font-size: 0.8rem;
    background-color:transparent;
    border-style: solid;
      border-width: 2px;
      border-color:vars.$g500 ;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-enlace a:hover{
    color:vars.$g;
    border-color:vars.$g ;
    background-color:transparent;
}
