@use "variables" as vars;

///////////// estilos home ////////

.contenedor-home{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url('../recursos/imagenes/fondo.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

}

.bloque-uno-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.txt-bienvenida {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

.bienvenida-uno{
    color: vars.$primario;
    margin: 0;
    font-size: clamp(2rem, 0.2759rem + 8.6207vw, 5.125rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
}

.bienvenida-dos{
    font-size: 2rem;
    font-weight: 600;
    margin-top: -1rem;
    font-size: clamp(1.5rem, 0.9483rem + 2.7586vw, 2.5rem);
}

.perfiles-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem 0rem 2rem 0rem;
    flex-direction: column;
}

.item-perfiles-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 2.5rem;
}

.imagen-perfil {
    width: 100%;
}

.imagen-perfil img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.info-item-perfiles {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 0rem 0rem;
}

.titulo-item{
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    color: vars.$primario;
    font-size: clamp(1.25rem, 0.8362rem + 2.069vw, 2rem);
    line-height: 1; 
    padding: 0rem 0rem 0.8rem 0rem;
}

.btn-perfiles{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-perfiles a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 0.8rem;
    background-color:vars.$primario;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-perfiles a:hover{
    color: vars.$primario;
    background-color:vars.$secundario;
}


//////// bloque dos////////////////

.bloque-dos-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;
}

.grid-bloque-dos-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width: 100%;
    height: auto;
    padding: 2rem 0rem;

}

.txt-bloque-dos-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
}

.info-bloque-dos-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem 0rem;
}



.bloque-dos-home-dos{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}

.frase{
    font-style: italic;
    font-weight: 600;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 2rem 0;
}


.img-bloque-dos-home {
    width: 100%;
    height: 720px;
    margin: 0 auto;
  
}

.img-bloque-dos-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
      border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.btn-enlace{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-enlace a{
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:transparent;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-enlace a:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}

//////// bloque tres ///////////


.bloque-tres-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: vars.$primario50;
}

.grid-bloque-tres-home{
    display: flex;
   flex-direction: column; 
    justify-content: center;
    align-items:start;
    width: 100%;
    height: auto;
}

.txt-bloque-tres-home {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
}


.row-datos {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem 0;
}

.bloque-dato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem 0rem;
}

.p-cifra{
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    font-size: clamp(2rem, 0.8966rem + 5.5172vw, 4rem);
    line-height: 1; 
    color: vars.$com-dos;
}

.p-info{
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 300px;
    text-align: center;
    color: vars.$dark;
}
//////// bloque cuatro ////////////////

.bloque-cuatro-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5rem 1.5rem;
}

.contenedor-banner {
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    background: #C2984B;
    background: linear-gradient(90deg, rgba(194, 152, 75, 1) 0%, rgba(240, 225, 209, 1) 100%);
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.img-banner{
    width: 100%;
    display: flex;
    height: 400px;
    
}

.img-banner img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: left;
    opacity: 0.5;
    border-radius: 2rem 0rem  0rem 2rem;

}


.info-banner{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0rem 1rem;
}

.btn-banner{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-banner a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 1rem;
    background-color:vars.$com-dos;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
}

.btn-banner a i{
    margin: 0rem 0rem 0rem 0.5rem;
   
}

.btn-banner a:hover{
    color:vars.$g0;
    background-color:vars.$com-dos800;
}

.texto-uno-banner{
     font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    color: vars.$com-dos;
    font-size: clamp(1rem, 0.8966rem + 5.5172vw, 3rem);
    line-height: 1; 
}

.texto-dos-banner{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    padding: 0rem 2rem 0rem 0rem;
    text-align: left;
}


//////// bloque cinco ////////////////

.bloque-cinco-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 2rem 5rem 2rem;
    background-color:rgba(252,228,252, 0.65);
}

.grid-bloque-cinco {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textos-intro-bloque-cinco {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    text-align: center;
}

.txt-dos-bloque-cinco{
     font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    font-size: clamp(1rem, 0.8966rem + 5.5172vw, 3rem);
    line-height: 1; 
    text-align: center;
}

.txt-uno-bloque-cinco{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    padding: 1rem 0rem;
    text-align: center;
}

.items-bloque-cinco {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;

}

.item-info-cinco{
    width: 100%;
    height: 600px;
    background-color: vars.$com;
    margin: 2rem 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.contenedor-img {
     width: 100%;
}

.img-item-cinco {
    width: 100%;
    height: 300px;
}

.img-item-cinco img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info-item-cinco{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.info-uno-item-cinco {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5rem;
    color: vars.$g0;
    
}

.info-dos-item-cinco {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: vars.$g0;
    
}

/////////////////seis/////////

.bloque-seis-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 3rem;
}


.grid-bloque-seis-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    width: 100%;
    height: auto;
    padding: 2rem 0rem;

}

.txt-bloque-seis-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
}

.info-bloque-seis-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem 0rem;
}


.bloque-seis-home-seis{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}



.video-bloque-seis-home {
    position: relative;
    width: 100%;
}

.video-bloque-seis-home iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    border: 0;
}


.info-bloque-seis-home{
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem 0rem;

}

.cabecera-dos-inicio{
    color: vars.$dark;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 2.8rem);
    font-weight: 600;
    line-height: 1.2;
}
