@use "variables" as vars;

.contenedor-publica {
      display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.cabecera-publica{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;
}

.bloque-info-publica {
     width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;

}

.bloque-organizacion {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cabecera-dos-publica {
    color: #25282a;
    font-size: clamp(1.5rem, 1.3103rem + 3.4483vw, 2.2rem);
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 0;
}

.bloque-buscar{
     width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;

}

.bloque-filtrar{
     width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;

}
.layout-filtros{
     width: auto;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
   
}

.item-filtro {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

input{
    width: 100%;
    height: 2rem;
    border-radius: 20px;
    border-style: solid;
    border-color: vars.$primario300;
    border-width: 2px;

}



label {
     font-weight: 400;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.3rem);
    font-family: "Onest", sans-serif;
}

.btn-enlace{
    display: flex;
}

.btn-enlace button{
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:vars.$primario50;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
   
}

.btn-enlace button:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}

.btn-enlace button i{
    margin: 0 0 0 0.5rem;
}


.filtro-check {
  appearance: none;
}

.filtro-check {
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 30px;
    height:30px;
 
    appearance: none;
    border: 2px solid vars.$primario300;
       background-position: center;
}
.filtro-check:checked {
  background-color: vars.$primario;
}

.filtro-check:focus {
  border-color: vars.$primario300;
} 

.filtro-check:disabled {
  background-color: rgb(198, 198, 198);
  background-image: none;
} 

.filtro-check:disabled:checked {
  background-color: rgb(198, 198, 198);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
} 