@use "variables" as vars;

.contenedor-publica {
      display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.cabecera-publica{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;
    padding: 3rem 0rem 2rem 0;
    margin: 0 auto;
}

.bloque-info-publica {
     width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;

}

.bloque-organizacion {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cabecera-dos-publica {
    color: #25282a;
    font-size: clamp(1.5rem, 1.3103rem + 3.4483vw, 2.2rem);
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 0;
}

.bloque-buscar{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0.5rem 0rem;
    margin: 0 auto;

}

.bloque-filtrar{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0.5rem 0rem;
    margin: 0 auto;

}

.layout-filtros{
     width: 90%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 1rem;
   
}

.layout-busqueda {
    width: 90%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.item-filtro {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0;
}

input{
    width: 100%;
    height: 2.4rem;
    border-radius: 28px;
    border-style: solid;
    border-color: vars.$primario300;
    border-width: 3px;
    outline: none;
    padding: 0 0.5rem;
     font-size: 1.3rem;
}


input::placeholder {
  border-color: vars.$primario !important;
  color: vars.$g500;
  font-style: italic;
}

input:focus {
  border-color:vars.$primario;
  background: vars.$primario50;
  outline: none;
  color: vars.$dark;
}


label {
     font-weight: 400;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.3rem);
    font-family: "Onest", sans-serif;
}

.btn-enlace{
    display: flex;
    padding: 1rem 0;
}

.btn-enlace button{
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:vars.$primario50;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
   
}

.btn-enlace button:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}

.btn-enlace button i{
    margin: 0 0 0 0.5rem;
}


.filtro-check {
  appearance: none;
}

.filtro-check {
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 30px;
    height:30px;
 
    appearance: none;
    border: 2px solid vars.$primario300;
       background-position: center;
}
.filtro-check:checked {
  background-color: vars.$primario;
}

.filtro-check:focus {
  border-color: vars.$primario300;
} 

.filtro-check:disabled {
  background-color: rgb(198, 198, 198);
  background-image: none;
} 

.filtro-check:disabled:checked {
  background-color: rgb(198, 198, 198);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
} 


///////////////////items////////////////////

.bloque-items{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0rem;
    margin: 0 auto;
}

.publicaciones{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
    padding: 1.5rem 0rem 3rem 0;
    margin: 0 auto;
    flex-wrap: wrap;
}


.item-perfiles-quienes{
    border: 2px solid vars.$primario300;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    margin:1rem 0rem;
    max-width: 600px;

}

.img-item-quienes {
    width: 100%;
    height: auto;
}

.img-item-quienes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info-item-quienes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.titulo-item-quienes{
    font-weight: 700;
    font-size: clamp(1.25rem, 0.8362rem + 2.069vw, 1.5rem);
    line-height: 1; 
    color: vars.$dark;
}

.btn-perfiles{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-perfiles a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 0.8rem;
    background-color:vars.$primario;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-perfiles a:hover{
    color: vars.$primario;
    background-color:vars.$secundario;
}

.btn-perfiles a i{
    padding: 0 0 0 0.3rem;
}

.btn-back{
    display: flex;
}

.btn-back a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 0.8rem;
    background-color:vars.$primario;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-back a:hover{
    color: vars.$primario;
    background-color:vars.$secundario;
}

.btn-back a i{
    padding: 0 0.4rem 0 0;
}
