@use "variables" as vars;

.contenedor-login {
    width: 100%;
    height: auto;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 3rem 0;
    
}

.intro {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
}

.bloque-form{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.bloque{
     width: 100%;
    margin: 1rem 0;
    display: flex;
   flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bloque label{
    padding: 0.5rem 0;
}

.bloque span{
   display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 0 0 0.8rem;
}


.bloque input{
    width: 100%;
    height: 2.8rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: vars.$primario;
    border-width: 2px;
    outline: none;
    padding: 0 0.5rem;
    font-size: 1.3rem;
}


.bloque input::placeholder {
  border-color: vars.$primario !important;
  color: vars.$g500;
  font-style: italic;
}

.bloque input:focus {
  border-color:vars.$primario;
  background: vars.$primario50;
  outline: none;
  color: vars.$dark;
}

.bloque input:-internal-autofill-selected {
    background-color: transparent !important;
}

label {
     font-weight: 400;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.3rem);
    font-family: "Onest", sans-serif;
}

.bloque-form span {
  color:red;
  font-weight: 300;
}

.ver-pass{
    color: vars.$com900 !important;
}
//////////// captcha////////

.bloque-captcha{
     width: 100%;
    margin: 1rem 0;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloque-captcha label{
    padding: 0.5rem 0;
}


.bloque-captcha input{
    width: 100%;
    max-width: 250px;
    height: 2.8rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: vars.$primario;
    border-width: 2px;
    outline: none;
    padding: 0 0.5rem;
    margin: 1rem 0;
    font-size: 1.3rem;
}


.bloque-captcha input::placeholder {
  border-color: vars.$primario !important;
  color: vars.$g500;
  font-style: italic;
}

.bloque-captcha input:focus {
  border-color:vars.$primario;
  background: vars.$primario50;
  outline: none;
  color: vars.$dark;
}

.bloque-captcha input:-internal-autofill-selected {
    background-color: transparent !important;
}

////////////end captcha///////


.btn-enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
}

.btn-enlace input{
    font-weight: 600;
    color:vars.$g0;
    font-size: 1.2rem;
    background-color:vars.$primario;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 20px;
     box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
   
}

.btn-enlace input:hover{
    color:vars.$g0;
    background-color:vars.$primario900;
}

.btn-enlace input i{
    margin: 0 0 0 0.5rem;
}