@media (max-width: 600px) {
#menu-large{
    display: none;
}
#menu-movil{
    display: block;
}
#toggle-menu {
    display: block;
}
#head {
    height: 3rem;
}

}

@media only screen and (min-width: 600px) {

#toggle-menu {
    display: none;
}
}