@media (max-width: 599px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
    .perfiles-home {
        flex-direction: unset;
         align-items: start;
    }


.bienvenida-dos {
    margin-top: -2rem;
}

.item-perfiles-home{
    margin: 2rem 1rem;
}

.grid-centros {
    flex-direction: unset;
}

.side-centros{
    width: 30%;
}

.contenedor-mapa{
    width: 70%;
}

.bloque-uno-home{
    padding: 0 1.5rem;
}


.bloque-dos-home{
    padding: 3rem 1.5rem;
}


.grid-bloque-dos-home{
    flex-direction: unset;
}


.row-datos {
    flex-direction: unset;
  
}


.info-bloque-dos-home{
    padding: 0rem 2rem;
}


.txt-bloque-tres-home {
    flex-direction: column;
}

.img-bloque-dos-home {
    width: 80%;
}

.bloque-dos-home-dos{
    padding: 0rem 0rem;
}

.bloque-tres-home{
    padding: 3rem 1rem;
}

.banner {
    width: 100%;
    flex-direction: unset;
    height: 400px;
}

.img-banner{
    width: 100%;
}

.info-banner{
    width: 100%;
}

.grid-bloque-seis-home{
    flex-direction: unset;
}

.info-bloque-seis-home {
    padding: 0rem 2rem;
}

.bloque-seis-home-seis {
    padding: 0rem 0rem;
}

.item-perfiles-quienes{
    flex-direction: unset;
}

.perfiles-quienes{
    width: 90%;
}

.txt-intro-fr2{
    padding: 2rem 2rem;
}



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .item-perfiles-home{
    margin: 2rem 2rem;
}

    
    #toggle-menu {
        display: none;
    }
    #menu-large {
        display: block;
    }
    #menu-movil {
        display: none;
    }
    #toggle-menu {
        display: none;
    }
    #head {
        height: 2rem;
    }
    .ul-logos li {
        margin: 0rem 1rem;
        width: 100px;
    }
    .info-footer {
        padding: 1.2rem 0rem 2rem 0rem;
        flex-direction: unset;
    }
    .uno-info-footer {
        width: 20%;
        padding: 0rem 0rem;
    }
    .dos-info-footer {
        width: 20%;
    }
    .tres-info-footer {
        width: 60%;
        align-items: start;
    }
    .mapa-sitio-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .grid-mapa-sitio {
        display: flex;
        flex-direction: unset;
    }
.bloque-dos-home{
    padding: 3rem 3rem;
}


 .banner {
    width: 90%;
}
.items-bloque-cinco {
    flex-direction: unset;

}

.bloque-uno-quienes {
    flex-direction: unset;
}
.txt-intro-quienes {
     padding: 0rem 2rem;

}

.layout-dos-bloque-tres {

    flex-direction: unset;
}

.intro-bloque-tres {
    width: 80%;
    padding: 2rem 0rem;
}


.txt-intro-quienes {
    padding: 2rem 1rem;
}

.perfiles-quienes{
    width: 60%;
}

.bloque-fr2{
    flex-direction: unset;
    padding: 3rem 5rem;
}

.bloque-uno-home{
    padding: 0 3rem;
}

.grid-uno-noticias {

    flex-direction: unset;
}
.list-categorias {  
     width: 20%;
    height: 540px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.bloque-list-categorias {
    flex-direction: column;
    
}

.bloque-list-categorias li {
    padding: 0.5rem 0;

}

.bloque-foto-noticias {
    width: 50%;
    margin: 0 0.5rem 0 0.5rem;
}

.bloque-destacadas{
    width: 30%;
    margin: 0 1rem 0 1rem;
  
}
.bloque-items-recientes{
    flex-wrap: nowrap;
}

.item-reciente{
    padding: 0 1rem;

}
.banner-ss{
   flex-direction: unset;  
}
.bloque-cuatro-ss{
    flex-direction: unset; 
}


}