@media (max-width: 600px) {
#menu-large{
    display: none;
}
#menu-movil{
    display: block;
}
#toggle-menu {
    display: block;
}
#head {
    height: 3rem;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #menu-large{
    display: none;
}
#menu-movil{
    display: block;
}
#toggle-menu {
    display: block;
}
#head {
    height: 3rem;
}
 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #toggle-menu {
    display: none;
}

   #menu-large{
    display: block;
}
#menu-movil{
    display: none;
}
#toggle-menu {
    display: none;
}
#head {
    height: 2rem;
}
    
   .ul-logos li {
   margin: 0rem 1rem;
   width: 100px;
}

    .info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding:1.2rem 0rem 2rem 0rem;
    flex-direction: unset;
}

    .uno-info-footer {
    width: 20%;
     padding: 0rem 0rem;
}

    .dos-info-footer {
    width: 20%;
}

    .tres-info-footer {
    width: 60%;
    align-items: start;
}

.mapa-sitio-footer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
}

.grid-mapa-sitio {
    display: flex;
    flex-direction: unset;
}

.perfiles-home{

    flex-direction: unset;
}

    
}