@media (max-width: 599px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    #menu-large {
        display: none;
    }
    #menu-movil {
        display: block;
    }
    #toggle-menu {
        display: block;
    }
    #head {
        height: 3rem;
    }
    .perfiles-home {
        flex-direction: unset;
         align-items: start;
    }


.item-perfiles-home{
    margin: 2rem 1rem;
}

.grid-centros {
    flex-direction: unset;
}

.side-centros{
    width: 30%;
}

.contenedor-mapa{
    width: 70%;
}

.bloque-uno-home{
    padding: 0 1.5rem;
}


.bloque-dos-home{
    padding: 3rem 1.5rem;
}


.grid-bloque-dos-home{
    flex-direction: unset;
}


.row-datos {
    flex-direction: unset;
  
}


.info-bloque-dos-home{
    padding: 0rem 2rem;
}


.txt-bloque-tres-home {
    flex-direction: column;
}

.img-bloque-dos-home {
    width: 80%;
}

.bloque-dos-home-dos{
    padding: 0rem 0rem;
}

.bloque-tres-home{
    padding: 3rem 1rem;
}

.banner {
    width: 100%;
    flex-direction: unset;
    height: 400px;
}

.img-banner{
    width: 100%;
}

.info-banner{
    width: 100%;
}

.grid-bloque-seis-home{
    flex-direction: unset;
}

.info-bloque-seis-home {
    padding: 0rem 1rem;
}

.bloque-seis-home-seis {
    padding: 0rem 0rem;
}

.item-perfiles-quienes{
    flex-direction: unset;
}

.perfiles-quienes{
    width: 90%;
}

.txt-intro-fr2{
    padding: 2rem 2rem;
}

.bloque-entrada{
    width: 80%;
}
.container {
    width: 90%;
}


.intro-faq{
    width: 80%;
}

.bloque-form{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.cuerpo-texto-uno-ss{
    padding: 1rem 3rem;
}

.img-fr2 {
    height: 720px;
}

.img-fr2-dos {
    height: 750px;
}

.img-intro-quienes {
    height: 720px;
}

.row-datos {
    align-items: start;
  
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .item-perfiles-home{
    margin: 2rem 2rem;
}

    
    #toggle-menu {
        display: none;
    }
    #menu-large {
        display: block;
    }
    #menu-movil {
        display: none;
    }
    #toggle-menu {
        display: none;
    }
    #head {
        height: 2rem;
    }
    .info-bloque-seis-home {
    padding: 0rem 4rem;
    }


    .ul-logos li {
        width: auto;
        height: 105px;
    }

    .info-footer {
        padding: 1.2rem 0rem 2rem 0rem;
        flex-direction: unset;
    }
    .uno-info-footer {
        width: 20%;
        padding: 0rem 0rem;
    }
    .dos-info-footer {
        width: 20%;
    }
    .tres-info-footer {
        width: 60%;
        align-items: start;
    }
    .mapa-sitio-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .grid-mapa-sitio {
        display: flex;
        flex-direction: unset;
    }
    
    .bloque-dos-home{
    padding: 3rem 3rem;
    width: 80%;
    }

 .banner {
    width: 90%;
    }

    .items-bloque-cinco {
    flex-direction: unset;
     align-items: start;

    }

.grid-bloque-seis-home{
    width: 80%;
}


.bloque-uno-quienes {
    flex-direction: unset;
}

.grid-doble {
    flex-direction: unset;
    width: 85%;
}

.grid-doble-multimedia {
    flex-direction: unset;

}
.txt-grid-doble {
    padding: 0 2rem;
}


.txt-intro-quienes {
     padding: 0rem 2rem;

}

.layout-dos-bloque-tres {

    flex-direction: unset;
}

.intro-bloque-tres {
    width: 80%;
    padding: 2rem 0rem;
}


.txt-intro-quienes {
    padding: 2rem 1rem;
}

.perfiles-quienes{
    width: 60%;
}

.bloque-fr2{
    flex-direction: unset;
    padding: 3rem 5rem;
}

.bloque-uno-home{
    padding: 0 3rem;
}

.grid-uno-noticias {

    flex-direction: unset;
}
.list-categorias {  
     width: 20%;
    height: 540px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.bloque-list-categorias {
    flex-direction: column;
    
}

.bloque-list-categorias li {
    padding: 0.5rem 0;

}

.bloque-foto-noticias {
    width: 50%;
    margin: 0 0.5rem 0 0.5rem;
}

.bloque-destacadas{
    width: 30%;
    margin: 0 1rem 0 1rem;
  
}
.bloque-items-recientes{
    flex-wrap: nowrap;
}

.item-reciente{
    padding: 0 1rem;

}
.banner-ss{
   flex-direction: unset;
   width: 90%; 
}
.bloque-cuatro-ss{
    flex-direction: unset; 
}

.lista-faq{
    padding: 0 1rem;

}

.intro-bloques{
    padding: 1rem 5rem;
}
.layout-filtros{
    flex-direction: unset;
    align-items: center;
}
.item-filtro {
    padding: 0.5rem 0.5rem;
    justify-content: center;
}
.btn-enlace{
    display: flex;
}

.bloque-entrada{
    width: 60%;
}
.layout-filtros{
    width: 100%;
    justify-content: center;
     padding: 0 0;
}

.bloque-filtrar{
    align-items: center;
    flex-direction: unset;
}

.cabecera-publica{
    width: 80%;
}


.bloque-audio {
    width: 80%;
   
}
.img-grid-multimedia{
    height: 95vh;
 
}

.item-perfiles-quienes{
    margin:1rem 1rem;
   
}


.ytslide {
    width: 80%;
}
.ytright {
    margin-right: 13%;
}
.ytleft {
    margin-left: 13%,
}
}