@use "variables" as vars;

.contenedor-multimedia {
    width: 100%;
    height: auto;
      display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    
}

.back-color {
    width: 100%;
    height: 100%;
    background-color: vars.$com50;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloque-video {
    width: 80%;
     height: auto;
      display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem 0;
   
}
.bloque-publicaciones {
    width: 80%;
     height: auto;
     display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem 0;
   
}

.bloque-audio {
    width: 80%;
     height: auto;
      display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem 0;
   
}

.grid-podcast {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 0;

}

////////////bloque uno////////////

.grid-doble {
    width: 90%;
    height: 100%;
    min-height: 768px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
    margin: 0 auto;

}

.img-grid-doble{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.img-grid-doble img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.txt-grid-doble {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0.5rem;
}


.dos-grid-doble{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
}

.cabecera-multimedia {
    color: #25282a;
    font-size: clamp(1.5rem, 1.3103rem + 3.4483vw, 2.2rem);
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 0;
}