@use "variables" as vars;

.contenedor-noticias {
     display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.intro-noticias {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;
    text-align: center;
}

.grid-uno-noticias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding:  0rem 1rem 3rem 1rem;
    margin: 0 auto;
    flex-direction: column;
}
.list-categorias{
     width: 100%;
    height: 240px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0rem 0 2rem 0rem;
    background-color: vars.$primario50;
    border-radius: 20px;
    padding: 1rem;

}
.cabecera-blog-uno{
    color: vars.$primario;
    font-weight: 600;
    padding: 0 0 0.5rem 0;
    font-size: 1.2rem;

}

.bloque-list-categorias{
    width: 100%;
    display: flex;
    flex-direction: unset;
}

.bloque-list-categorias li{
    padding: 0.5rem 0.5rem;
    color: vars.$dark;
    font-size: 0.9rem;
    font-weight: 600;
}

.bloque-list-categorias a{
    color: vars.$dark;
}

.bloque-list-categorias a:hover{
    color: vars.$primario;
    text-decoration: underline;

}

.bloque-foto-noticias{
    width: 50%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 1rem;
}

.link-destacada{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    color: vars.$g0;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

.txt-destacada-uno{
    color: vars.$g0;
    font-size: 1rem;
    font-weight: 700;
}

.txt-destacada-dos{
    color: vars.$g0;
    font-size: 0.7rem;
    font-weight: 400;
}
.link-info-destacado a{
    text-decoration: none;
    color: vars.$com;
    font-size: 0.8rem;
    font-weight: 700;
}


.link-info-destacado a:hover{
    text-decoration: underline !important;
    color: vars.$com700;
}


.img-grid-noticias{
    width: 100%;
    height: 540px;
    margin: 0 auto;
}


.img-grid-noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


///////////////////// destacadas//////////


.bloque-destacadas{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: start;
    margin: 0 1rem;
    background-color:vars.$primario50;
    padding: 1rem;
    border-radius: 20px;
}


.items-destacadas{
    display: flex;
    width: 100%;
    border-bottom: 1px solid vars.$g400;
    padding: 0.7rem 0;
    
}

.img-item-destacada{
    width: 70%;
    height: 130px;
    margin: 0 auto;
}


.img-item-destacada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.txt-item-destacadas {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.txt-item-destacadas a p {
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.txt-item-destacadas a span{
     font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem 0 0 0;
}


.txt-item-destacadas a:hover p {
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: underline;
}

