@use "variables" as vars;

.contenedor-noticias {
     display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.intro-noticias {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0 auto;
    text-align: center;
}

.grid-uno-noticias {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem 0rem;
    margin: 0 auto;
}
.list-categorias{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cabecera-blog-uno{
    color: vars.$primario;
    font-weight: 600;
    padding: 0 0 0.5rem 0;
    font-size: 1.2rem;

}

.bloque-list-categorias{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bloque-list-categorias li{
    padding: 0.5rem 0;
    color: vars.$dark;
}

.bloque-list-categorias a{
    color: vars.$dark;
}

.bloque-list-categorias a:hover{
    color: vars.$primario;
    text-decoration: underline;

}


.bloque-foto-noticias{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.img-grid-noticias{
    width: 100%;
    height: 450px;
    margin: 0 auto;
}


.img-grid-noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.bloque-destacadas{
    display: flex;
    flex-direction: column;
    width: 20%;
}