@use "variables" as vars;

.contenedor-noticias {
     display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.intro-noticias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 3rem 2rem;
    margin: 0 auto;
}

.grid-uno-noticias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding:  0rem 1rem 3rem 1rem;
    margin: 0 auto;
    flex-direction: column;
}
.list-categorias{
     width: 100%;
    height: 240px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0rem 0 2rem 0rem;
    background-color: vars.$primario50;
    border-radius: 20px;
    padding: 1rem;

}
.cabecera-blog-uno{
    color: vars.$primario;
    font-weight: 600;
    padding: 0 0 0.5rem 0;
    font-size: 1.2rem;

}

.bloque-list-categorias{
    width: 100%;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
}

.bloque-list-categorias li{
    padding: 0.5rem 0.5rem;
    color: vars.$dark;
    font-size: 0.9rem;
    font-weight: 600;
}

.bloque-list-categorias a{
    color: vars.$dark;
}

.bloque-list-categorias a:hover{
    color: vars.$primario;
    text-decoration: underline;

}

.bloque-foto-noticias{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 1rem 0;
}

.link-destacada{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    color: vars.$g0;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

.txt-destacada-uno{
    color: vars.$g0;
    font-size: 1rem;
    font-weight: 700;
}

.txt-destacada-dos{
    color: vars.$g0;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.3rem 0;
}

.txt-destacada-dos p{
    color: vars.$g0;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.3rem 0;
}

.link-info-destacado {
    padding: 0.3rem 0;
}


.link-info-destacado a{
    text-decoration: none;
    color: vars.$secundario;
    font-size: 0.9rem;
    font-weight: 700;
}


.link-info-destacado a:hover{
    text-decoration: underline !important;
    color: vars.$primario;
}


.img-grid-noticias{
    width: 100%;
    height: 540px;
    margin: 0 auto;
}


.img-grid-noticias img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


///////////////////// destacadas//////////


.bloque-destacadas{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    margin: 1rem 0 1rem 0;
    background-color:vars.$primario50;
    padding: 1rem;
    border-radius: 20px;
}


.items-destacadas{
    display: flex;
    width: 100%;
    border-bottom: 1px solid vars.$g400;
    padding: 0.7rem 0;
    
}

.items-destacadas:last-child {
  border-bottom: none; 
}

.img-item-destacada{
    width: 70%;
    height: 130px;
    margin: 0 auto;
}


.img-item-destacada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.txt-item-destacadas {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.txt-item-destacadas a p {
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.txt-item-destacadas a span{
     font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem 0 0 0;
}


.txt-item-destacadas a:hover p {
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: underline;
}

//////////////////item recientes//////////////
.grid-dos-noticias{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding:  0rem 1rem 3rem 1rem;
    margin: 0 auto;
    flex-direction: column;

}

.bloque-items-recientes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

.item-reciente{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
    max-width: 550px;

}

.img-item-reciente{
    width: 100%;
    height: 250px;
    margin: 0 auto;
}


.img-item-reciente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.txt-item-reciente {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.txt-item-reciente a p {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.txt-item-reciente a span{
     font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem 0 0 0;
}


.txt-item-reciente a:hover p {
    text-decoration: underline;
    color: vars.$primario;
}

.txt-item-reciente a:hover span {
    text-decoration: underline;
    color: vars.$dark;
}

.publicado{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.foto-publicado{
    width: 50px;
    display: flex;
    position: relative;
    margin: 0 1rem 0 0;

}

.img-publicado{
   width: 40px;
   height: 40px;
   margin: 0 auto;
}

.img-publicado img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nombre-publicado {
    display: flex;
    width: 70%;
}

.nombre-publicado p {
    font-size: 0.7rem;
    font-weight: 600;
}

.fecha-publicado{
    display: flex;
    width: 30%;
}

.fecha-publicado p {
    font-size: 0.7rem;
    font-weight: 600;
}

.cabecera-dos-faq {
    color: #25282a;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 2.8rem);
    font-weight: 600;
    line-height: 1.2;
}

.btn-enlace{
    display: flex;
    padding: 4rem 0 2rem 0;
    margin: 0 auto;
}

.btn-enlace a{
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:transparent;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-enlace a:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}

.titulo-destacadas {
    color: vars.$primario;
    font-size: 1.1rem;
    line-height: 1rem;
}