@use "variables" as vars;

button {
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:vars.$primario50;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border-radius: 8px;
}

button:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}
