@use "variables" as vars;

.contenedor-home{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.bloque-uno-quienes {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}

.img-intro-quienes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-intro-quienes img{
    width: 100%;
    height: auto;
}

.txt-intro-quienes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0rem 2rem;
}

.uno-intro-quienes{
    color: vars.$g700;
    margin: 0;
    font-size: clamp(2rem, 0.2759rem + 8.6207vw, 5.125rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    max-width: 100%;
}

.dos-intro-quienes{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}
