@use "variables" as vars;

.contenedor-quienes{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
   
}

.bloque-uno-quienes {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
    margin: 0 auto;

}

.img-intro-quienes {
    width: 100%;
    height: 720px;
    margin: 0 auto;
}

.img-intro-quienes img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.txt-intro-quienes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 0rem;
}


.dos-intro-quienes{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}


////////bloque dos///////////

.bloque-dos-quienes {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem;
    margin: 0 auto;
    background-color:vars.$com50;

}
.bloque-frases {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.quotes-quienes{
    color: vars.$g700;
    font-size: clamp(1.5rem, 0.6724rem + 4.1379vw, 3rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    max-width: 100%;
    font-style: italic;

}


////////bloque dos///////////

.bloque-tres-quienes {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
    margin: 0 auto;
}

.intro-bloque-tres {
    width: 100%;
    padding: 1rem 0rem;
}


.intro-bloque-tres-dos {
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}



.layout-dos-bloque-tres{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.img-bloque-tres{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.img-bloque-tres img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

//////////////bloque perfiles /////////

.perfiles-quienes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
    margin: 0 auto;
}

.item-perfiles-quienes{
    border: 2px solid vars.$primario;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;

}

.img-item-quienes {
    width: 100%;
    height: auto;
}

.img-item-quienes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info-item-quienes {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.titulo-item-quienes{
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    font-size: clamp(1.25rem, 0.8362rem + 2.069vw, 2rem);
    line-height: 1; 
    color: vars.$dark;
}

.btn-perfiles{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-perfiles a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 0.8rem;
    background-color:vars.$primario;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-perfiles a:hover{
    color: vars.$primario;
    background-color:vars.$secundario;
}


///////////////bloque cinco///////////

.bloque-cinco-quienes{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0rem;
    margin: 0 auto;

}

.info-bloque-cinco-quienes{

    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.bloque-cinco-quienes-dos{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}

//////////////////anima frases ///////

.anima-frases {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.frase {
    position: absolute;
    color: vars.$g700;
    font-size: clamp(1.5rem, 0.6724rem + 4.1379vw, 2.5rem);
    font-family: "Onest", sans-serif;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    width: 80%;
    font-style: italic;
    white-space: normal;
    opacity: 0;
    animation-duration: 32s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    line-height: 1.2;
}

.frase:nth-child(1) {
    animation-name: slideText;
    animation-delay: 0s;
}

.frase:nth-child(2) {
    animation-name: slideText;
    animation-delay: 8s;
}

.frase:nth-child(3) {
    animation-name: slideText;
    animation-delay: 16s;
}

.frase:nth-child(4) {
    animation-name: slideText;
    animation-delay: 24s;
}



@keyframes slideText {
            0% {
                transform: translateX(150vw);
                opacity: 0;
            }
            2.5% {
                transform: translateX(0);
                opacity: 1;
            }
            18.75% {
                transform: translateX(0);
                opacity: 1;
            }
            21.875% {
                transform: translateX(-150vw);
                opacity: 0;
            }
            100% {
                transform: translateX(-150vw);
                opacity: 0;
            }
        }


////////////////


.cabecera-dos-quienes {
    color: #25282a;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 2.8rem);
    font-weight: 600;
    line-height: 1.2;
}