@use "variables" as vars;

.contenedor-ss {
     display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.bloque-uno-ss {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;
    background-color: vars.$com-dos;
}

.bloque-fr2 {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
    margin: 0 auto;

}

.img-fr2 {
    width: 100%;
    height: 720px;
    margin: 0 auto;
}

.img-fr2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.txt-intro-fr2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2rem 2rem;
}

.uno-intro-fr2{
    color: vars.$g700;
    margin: 0;
    font-size: clamp(2rem, 0.2759rem + 8.6207vw, 5.125rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    max-width: 100%;
}

.dos-intro-fr2{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    width: 100%;
    padding: 1rem 0rem;
}

.cabecera-uno-ss{
    color: vars.$g0;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 3.25rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1.2;
}

.cuerpo-texto-uno-ss{
    font-weight: 400;
    color: vars.$g0;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    padding: 1rem 0rem;
}

.bloque-dos-ss{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;
    background-color: vars.$primario50;

}

.bloque-tres-ss{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;
    background-color: vars.$primario100;
}

.info-bloque-tres{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.btn-enlace{
    display: flex;
}

.btn-enlace a{
    font-weight: 600;
    color:vars.$com;
    font-size: 0.8rem;
    background-color:transparent;
    border-style: solid;
    border-width: 2px;
    border-color:vars.$com;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 40px;
   
}

.btn-enlace a:hover{
    color:vars.$com700;
    border-color:vars.$com700;
    background-color:transparent;
}

.bloque-cuatro-ss{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
   
}

.info-bloque-cuatro{
    width: 100%;
    display: flex;
    padding: 2rem 0rem;
    margin: 0 auto;

}

.info-bloque-cuatro-uno{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: vars.$com700;
    padding: 2rem;

}

.info-bloque-cuatro-dos{
    width: 50%;
    height: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: vars.$com;
    padding: 2rem;
    

}

.bloque-cinco-ss{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0 auto;

}

/////////////////Bloque seis//////////////////

.bloque-seis-ss{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: vars.$com-dos50;
    margin: 0 auto;
}

.info-seis-uno{
    width: 80%;
    display: flex;
    padding: 2rem 0rem;
    margin: 0 auto;
    flex-direction: column;

}


.info-seis-dos{
    width: 80%;
    display: flex;
    padding: 2rem 0rem;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;

}

.cabecera-seis-uno{
    color: vars.$com-dos;
    font-size: clamp(2rem, 1.3103rem + 3.4483vw, 3.25rem);
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.cabecera-seis-dos{
    font-weight: 700;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    padding: 1rem 0rem;

}


.cuerpo-seis-uno{
    font-weight: 400;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    padding: 1rem 0rem;

}

.cuerpo-seis-italic{
    font-weight: 400;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    font-style: italic;

}

.cuerpo-seis-blod{
    font-weight: 800;
    color: vars.$dark;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);

}

.items-datos {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
     margin:  0 auto;

}

.grid-items {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}   

.item {
    display: flex;
    width: 300px;
    height: 100%;
    background-color: vars.$com-dos;
    padding: 1rem;
    margin: 1rem;
}

.item p{
    font-size: 1.1rem;
    color: vars.$g0;
    font-weight: 600;
}

/////////////banner//////////////////
.bloque-banner-ss{
      display: flex;
    width: 100%;
    justify-content: center;
    padding: 3rem 0;

}

.contenedor-banner-ss {
    display: flex;
    width: 90%;
    justify-content: center;
}

.banner-ss{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 430px;
    flex-direction: column;
    align-items: center;
   background: #E74EED;
background: radial-gradient(circle, rgba(231, 78, 237, 1) 100%, rgba(245, 187, 246, 1) 100%, rgba(231, 78, 237, 1) 100%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.img-banner-ss{
    width: 90%;
     height: 200px;
    display: flex;
    justify-content: center;
   
    padding: 2rem;
    
}

.img-banner img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}


.info-banner-ss{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0rem 2rem;
}

.btn-banner{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
}

.btn-banner a{
     font-weight: 600;
    color:vars.$g0;
    font-size: 1rem;
    background-color:vars.$com700;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
   
}

.btn-banner a i{
    margin: 0rem 0rem 0rem 0.5rem;
   
}

.btn-banner a:hover{
    color:vars.$g0;
    background-color:vars.$com100;
}

.texto-uno-banner-ss{
    font-family: "Baloo 2", sans-serif !important;
    font-weight: 700;
    color: vars.$g0;
    font-size: clamp(1rem, 0.8966rem + 5.5172vw, 2.5rem);
    line-height: 1; 
}

.texto-dos-banner-ss{
    font-weight: 400;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    padding: 0rem 2rem 0rem 0rem;
    color: vars.$g0;
    text-align: left;
}
