$g: #000;
$g900: #212121;
$g800: #424242;
$g700: #616161;
$g600: #757575;
$g500: #9e9e9e;
$g400: #bdbdbd;
$g300: #e0e0e0;
$g200: #eeeeee;
$g100: #f5f5f5;
$g0: #fff;

$primario:#c2984b;
$primario900:#b6793b;
$primario700:#c9ad55;
$primario600:#cec15e;
$primario500:#d2d166;
$primario400:#d7d776;
$primario300:#dcdd8a;
$primario200:#e5e7a8;
$primario100:#eff1ca;
$primario50:#f8fae9;

$secundario:#f0e1d1;
$secundario900:#670000;
$secundario800:#710000;
$secundario700:#780000;
$secundario600:#7c0000;
$secundario500:#7d1000;
$secundario400:#8f3600;
$secundario300:#a05500;
$secundario200:#bd8345;
$secundario100:#d9b48e;

$com: #e74eed;
$com900: #6c00c2;
$com800: #9500cd;
$com700: #aa00d3;
$com600: #c100d8;
$com500: #d300dd;
$com400: #e000e8;
$com200: #ef8af2;
$com200: #f5bbf6;
$com100: #f5bbf6;
$com50: #fce4fc;

$com-dos: #ff7a00;
$com-dos-800:#ffa710;
$com-dos-700: #ffc018;
$com-dos-600: #ffd920;
$com-dos-500: #fee61a;
$com-dos-400: #ffeb47;
$com-dos-300: #fff06c;
$com-dos-200: #fff597;
$com-dos-100: #fff9c1;
$com-dos-50: #fffde6;

$dark:#25282a;







