$g: #000;
$g900: #212121;
$g800: #424242;
$g700: #616161;
$g600: #757575;
$g500: #9e9e9e;
$g400: #bdbdbd;
$g300: #e0e0e0;
$g200: #eeeeee;
$g100: #f5f5f5;
$g0: #fff;

$primario:#c2984b;
$primario900:#b6793b;
$primario700:#c9ad55;
$primario600:#cec15e;
$primario500:#d2d166;
$primario400:#d7d776;
$primario300:#dcdd8a;
$primario200:#e5e7a8;
$primario100:#eff1ca;
$primario50:#f8fae9;

$secundario:#f0e1d1;
$secundario100:#d9b48e;
$secundario200:#bd8345;
$secundario300:#a05500;
$secundario400:#8f3600;
$secundario500:#7d1000;
$secundario600:#7c0000;
$secundario700:#780000;
$secundario800:#710000;
$secundario900:#670000;





