.back-head {
  background-color: #c2984b;
  display: flex;
  justify-content: end;
  align-items: center;
}

.elementos-head {
  display: flex;
  padding: 0rem 1.5rem;
}

.elementos-head p {
  color: #f0e1d1;
  font-weight: 300;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.elementos-head a {
  font-size: 0.8rem;
  padding: 0rem 0.3rem;
  color: #f0e1d1;
}

.elementos-head a:hover {
  font-size: 0.8rem;
  padding: 0rem 0.3rem;
  color: #a05500;
}

.elementos-head p {
  font-weight: 200;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.back-menu {
  background-color: #f0e1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-menu ul li {
  font-weight: 600;
  font-size: 0.8rem;
}

.back-menu a {
  background-color: transparent;
  padding: 0.6rem 0.8rem;
  border-radius: 40px;
  color: #25282a;
}

.back-menu a:hover {
  background-color: #c2984b;
  color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 40px;
}

.activo {
  background-color: #c2984b !important;
  color: #fff !important;
  padding: 0.6rem 0.8rem !important;
  border-radius: 40px !important;
}

.back-menu-movil {
  background-color: #f0e1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-menu-movil ul li {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 1.5rem 0rem 1.5rem 1.5rem;
  color: #000;
}

.back-menu-movil a {
  background-color: transparent;
  padding: 0.6rem 1rem;
  border-radius: 40px;
  color: #25282a;
}

.back-menu-movil a:hover {
  background-color: #c2984b;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 40px;
}

.btn-130 a {
  background-color: #e74eed;
  padding: 0.6rem 0.8rem;
  border-radius: 40px;
  color: #fff;
}

.btn-130 a:hover {
  background-color: #c100d8;
  color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 40px;
}

#toggle-menu {
  cursor: pointer;
  color: #f0e1d1;
  position: absolute;
  left: 10px;
  font-size: 2rem;
}

#toggle-menu:hover {
  color: #8f3600;
}

.logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  padding: 0.3rem;
}

.logo-menu img {
  max-width: 100%;
  height: auto;
}

.logo-menu-movil {
  width: 100px;
  margin: 0.5rem 0 0.3rem 0.5rem;
}

.logo-menu-movil img {
  max-width: 100%;
  height: auto;
}

.dropbtn {
  color: white;
  font-size: 0.8rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0e1d1;
  color: #c2984b;
  width: 100%;
  min-width: 160px;
  margin-top: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #c2984b;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 20px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c2984b;
  color: #fff;
  border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c2984b;
  color: #fff;
}

.sub-menu-movil {
  flex-direction: column;
}

.sub-menu-movil li {
  margin: 1rem 0rem 0.3rem 1rem !important;
}

.sub-menu-movil a {
  padding: 1rem 0rem 0rem 0rem;
  border-radius: 0 !important;
  color: #000;
  font-weight: 400;
  margin: 0rem 0rem 0.3rem 1rem;
}

.sub-menu-movil a:hover {
  padding: 0rem 0rem 0rem 0rem;
  background-color: transparent;
  border-radius: 0 !important;
  color: grey;
  font-weight: 400;
}/*# sourceMappingURL=cabecera.css.map */