
#esi-presentation {
    width: 90%;
    margin: 20px auto;
    font-family: "Onest", sans-serif; 
}

#esi-slide {
    position: relative;
    border: 1px solid #e74eed;
    border-radius: 8px;
    padding: 24px;
    min-height: 260px;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
}
.esi-slide-content {
    position: relative;
    z-index: 1;
}
.esi-slide-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;
    z-index: 2;
}
.esi-slide-overlay:hover {
    background: rgba(245, 187, 246, 0.09);
}
.esi-left-zone {
    left: 0;
}
.esi-right-zone {
    right: 0;
}
#esi-controls {
    margin-top: 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #e74eed;
}
#esi-slide h2 {
    margin-top: 0;
    color: #2c3e50;
}
#esi-slide p {
    line-height: 1.5;
    margin-bottom: 0.8em;
    font-weight: 400;
    color: #25282a;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
    
}
#esi-slide ul,
#esi-slide ol {
    padding-left: 1.2em;
    font-weight: 400;
    color: #25282a;
    font-size: clamp(1rem, 0.7241rem + 1.3793vw, 1.5rem);
}

.cabecera-one {
    color: #25282a;
    font-size: clamp(1.5rem, 1.3103rem + 3.4483vw, 2rem);
    font-family: "Onest", sans-serif !important;
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem 0;
}